<section class="order-history">
    <h4>{{ 'ORDER.HISTORY' | translate }}</h4>
    <mat-card>
        <mat-card-content>
            <app-filters></app-filters>
        </mat-card-content>
    </mat-card>

    <div class="add-btn">
        <button mat-raised-button color="primary" (click)="addNewOrder()">{{ 'ADD_NEW_ORDER' | translate }}</button>
    </div>

    <div class="order-history-data">
        @switch (orderHistoryLoadState$ | async) {
            @case ('loading' || null) {
                <mat-card>
                    <mat-card-content>
                        <h4>{{ 'LOADING_HISTORY' | translate }}...</h4>
                        <mat-spinner diameter="50"></mat-spinner>
                    </mat-card-content>
                </mat-card>
            }
            @case ('error') {
                <mat-card>
                    <mat-card-content>
                        <mat-error
                            ><h5>{{ 'LOADING_FAILED' | translate }}</h5></mat-error
                        >
                    </mat-card-content>
                </mat-card>
            }
            @case ('loaded') {
                <app-table></app-table>
            }
        }
    </div>
</section>
